// 1rem - 10px

$color-base: #333333;
$bg-color-base: #e5e5e5;

$color-header: #ffffff;
$bg-color-header: #1c1c1c;

$color-loader: #1c1c1c;
$color-exception: #8b0000;
$color-attention: #7d8b00;

// cta - call to action
$color-cta: #fff;
$bg-color-cta: #f1bd45;

$color-border: #c7c7c7;
$bg-color-box: #c4c4c4;

$color-link: #5375b7;
$bg-color-clarifier: #fff3d8;

$border-radius: 0.3rem;
